{{!-- {{#if user.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{user.id}}">{{user.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

<body class="container menu-page">

  <header class="container header">
    <div class="col-12">
      <nav class="d-flex justify-content-between">
        <a href="dashboard.html"><img src="./img/PetTrax_Logo-Nav.svg" alt="PetTrax logo" width="200px"></a>
      </nav>
    </div>
  </header>

  <!-- Main horizontal wrapper -->
  <div class="row justify-content-center">
    <div class="col col-10 col-md-6">
      <a id="dashboard" href="#" class="breadcrumb"><< Back to Dashboard</a>
      <h2>Profile</h2><br>
      <p id="user-name">{{ name }}</p>
      <p id="user-address">{{ address }}</p>
      <p id="user-phone">{{ phone }}</p>
      <p id="user-email">{{ email }}</p>
      <br>
      <button type="submit" value="submit">EDIT</button>
    </div>
  </div>

<script src="./js/profile.js" type="module"></script>

